<div data-bs-spy="scroll" data-bs-target="#navbar-example">
  <nav id="navbar-example" class="navbar navbar-expand-lg fixed-top">
    <div class="container py-3 text-white">
      <a class="navbar-brand fw-bolder fs-2 text-white" href="#">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link mx-1 text-white active rounded-2" aria-current="page" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-1 text-white" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-1 text-white" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="home w-100 pt-5 mt-5" id="home">
    <div class="container text-center text-white pt-5 ">
      <img src="assets/avataaars.svg" width="250px" alt="">
      <div class="imgCaption">
        <h2 class="py-2 fs-1 fw-bolder">START FRAMEWORK</h2>
        <div class="art d-flex justify-content-center align-items-center">
          <div class="line bg-white"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line bg-white"></div>
        </div>
        <p class="mb-0 pt-3">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
  
  <div class="about w-100" id="about">
    <div class="container text-center text-white py-5">
      <h2 class="py-2 fs-1 fw-bolder">ABOUT COMPONENT</h2>
      <div class="art d-flex justify-content-center align-items-center">
        <div class="line bg-white"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line bg-white"></div>
      </div>
      <div class="row pt-3 px-5">
        <div class="col-md-6 text-start">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-6 text-start">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="portfolio" id="portfolio">
    <div class="container py-5">
      <header class="text-center py-3">
        <h2 class="py-2 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
        <div class="art d-flex justify-content-center align-items-center">
          <div class="line"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line"></div>
        </div>
      </header>
      <div class="row gy-4">
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img src="../../assets/poert1.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/poert1.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              <img src="../../assets/port2.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/port2.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              <img src="../../assets/port3.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/port3.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              <img src="../../assets/poert1.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/poert1.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              <img src="../../assets/port2.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/port2.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="item rounded-3 position-relative">
            <button type="button" class="btn bg-transparent p-0 m-0" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              <img src="../../assets/port3.png" class="w-100 rounded-3" alt="#">
              <div class="layer rounded-3 d-flex justify-content-center align-items-center position-absolute top-0 end-0 start-0 bottom-0">
                <i class="fa-solid fa-plus fa-6x text-white"></i>
              </div>
            </button>
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <img src="../../assets/port3.png" class="w-100" alt="">
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div id="layerContainer" class="justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0">
      <div class="targetImage w-50">
        <img class="w-100" src="assets/port3.png" alt="">
      </div>
    </div> -->
  </div>
  
  <div class="contact" id="contact">
    <div class="container py-5">
      <header class="text-center py-3">
        <h2 class="py-2 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
        <div class="art d-flex justify-content-center align-items-center">
          <div class="line"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line"></div>
        </div>
      </header>
      <form class="mx-auto w-50">
        <div class="form-floating my-3">
          <input class="form-control" type="text" name="userName" placeholder="UserName">
          <label for="userName">UserName</label>
        </div>
        <div class="form-floating my-3">
          <input class="form-control" type="number" name="userAge" placeholder="UserAge">
          <label for="userAge">UserAge</label>
        </div>
        <div class="form-floating my-3">
          <input class="form-control" type="email" name="userEmail" placeholder="userEmail">
          <label for="userEmail">UserEmail</label>
        </div>
        <div class="form-floating my-3">
          <input class="form-control" type="password" name="userPassword" placeholder="userPassword">
          <label for="userPassword">UserPassword</label>
        </div>
        <button class="btn btn-info text-white mx-2">Send Message</button>
      </form>
    </div>
  </div>
  
  <footer class="footer text-center text-white">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-4">
              <div>
                <h4 class="py-2">LOCATION</h4>
                <p class="mb-0">2215 John Daniel Drive<br>Clark, MO 65243</p>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <h4 class="py-2">AROUND THE WEB</h4>
                <div class="socialMedia text-white">
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in p-2"></i>
                  </span>
                  <span class="fa-stack" style="vertical-align: top;">
                    <i class="text-white fa-regular fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-globe p-2"></i>
                  </span>
                </div>
                
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <h4 class="py-2">ABOUT FREELANCER</h4>
                <p class="mb-0">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
              </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container py-5">
            <p class="mb-0">Copyright © Your Website 2021</p>
        </div>
    </div>
  </footer>
</div>